@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;800&display=swap');

body {
    margin: 0;
}

.talent {
    display: flex;
    height: 100vh;
    padding-bottom: 70px;
}

.left-talent {
    width: 50%;
    height: 100%;
    background: url("../images/talent-left.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.left-color {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(40, 238, 167, 0.93);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.right-talent {
    width: 50%;
    height: 100%;
    background: url("../images/talent-right.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.right-color {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.9;
    background-color: #363738;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sef-logo {
    padding-top: 70px;
    margin-left: 90px;
    align-self: flex-start;
}

.left-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
}

.right-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
}

#left-title {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 900;
    color: white;
    background-color: #363738;
    padding-left: 10px;
    padding-right: 10px;
}

#left-domain {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 900;
    color: #363738;
    font-size: 36px;
    line-height: 1;
}

#left-description {
    font-family: 'Noto Sans Mono', sans-serif;
    color: #363738;
    text-align: end;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
}

#left-get-trained {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 900;
    color: white;
    background-color: #363738;
    padding: 15px 20px;
}

#right-title {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 900;
    color: #363738;
    background-color: #fcfcfd;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 60px;
}

#right-domain {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 900;
    color: #fcfcfd;
    font-size: 36px;
    line-height: 1;
}

#right-description {
    font-family: 'Noto Sans Mono', sans-serif;
    color: #fcfcfd;
    text-align: start;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
}

#right-get-trained {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 900;
    color: #363738;
    background-color: #fcfcfd;
    padding: 15px 20px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.hello-container{

    margin-left: 90px;
    margin-right: 90px;
    padding-left: 70px;
    padding-right: 70px;
}

.hello-world {
    font-family: 'Noto Sans Mono', sans-serif;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 900;
}

.hello-world ::before{
    content: ">";
    color: #28eea7;
    padding-right: 10px;
    font-weight: 900;
    font-size: 25px;
}

.dot-collection{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.dot-1{
    height: 25px;
    width: 25px;
    border-radius: 20px;
    background-color: #363738;
    margin-left: 10px;
}

.dot-2{
    height: 25px;
    width: 25px;
    border-radius: 20px;
    background-color: #dcdee1;
    margin-left: 10px;
}

.dot-3{
    height: 25px;
    width: 25px;
    border-radius: 20px;
    background-color: #28eea7;
    margin-left: 10px;
}

.youtube{
    padding: 70px 0px;
}

.milestone{
    height: 600px;
    padding: 20px 70px;
    margin: 0px 90px;
    display: flex;
    align-items: flex-start;    
}

.box-1{
    padding: 60px 70px;
    border-radius: 20px;
    background-color: #f1f2f3;
    display: flex;
    flex-direction: column;
}
.box-1-percentage{
    font-family: 'Noto Sans Mono', sans-serif;
    font-size: 120px;
    font-weight: 900;
    color: #363738;
}

.box-1-title {
    font-size: 32px;
    font-family: 'Noto Sans Mono', sans-serif;
    color: #363738;
    font-weight: 900;
}

.box-1-description{
    font-family: 'Noto Sans Mono', sans-serif;
    color: #363738;
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0
}

.box-2{
    padding: 40px;
    border-radius: 20px;
    background-color: #f1f2f3;
    display: flex;
    flex-direction: column;
    margin: 15px
}

.box-2-percentage{
    font-family: 'Noto Sans Mono', sans-serif;
    font-size: 64px;
    font-weight: 900;
    color: #363738;
}

.box-2-description{
    font-family: 'Noto Sans Mono', sans-serif;
    color: #363738;
    font-size: 16px;
}

.box-3{
    padding: 40px;
    border-radius: 20px;
    background-color: #f1f2f3;
    display: flex;
    flex-direction: column;
    margin: 15px

}

.box-3-percentage{
    font-family: 'Noto Sans Mono', sans-serif;
    font-size: 64px;
    font-weight: 900;
    color: #363738;
}

.box-3-description{
    font-family: 'Noto Sans Mono', sans-serif;
    color: #363738;
    font-size: 16px;
}

.box-4{

    padding: 40px;
    border-radius: 20px;
    background-color: #f1f2f3;
    display: flex;
    flex-direction: column;
    margin: 15px

}

.box-4-percentage{
    font-family: 'Noto Sans Mono', sans-serif;
    font-size: 64px;
    font-weight: 900;
    color: #363738;
}

.box-4-description{
    font-family: 'Noto Sans Mono', sans-serif;
    color: #363738;
    font-size: 16px;
}

.box-5{

    padding: 40px;
    border-radius: 20px;
    background-color: #f1f2f3;
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-self: flex-end;

}

.box-5-percentage{
    font-family: 'Noto Sans Mono', sans-serif;
    font-size: 64px;
    font-weight: 900;
    color: #363738;
}

.box-5-description{
    font-family: 'Noto Sans Mono', sans-serif;
    color: #363738;
    font-size: 16px;
}

.small-wrap{
    display: flex;
    flex-direction: column;
}