@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;800&display=swap');

body{
    margin: 0;
}

.talent {
    display: flex;
    height: 100vh;
    padding-bottom: 70px;
}

.left-talent{
    width: 50%;
    height: 100%;
    background: url("../images/talent-left.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.left-color{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(40, 238, 167, 0.93);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.right-talent{
    width: 50%;
    height: 100%;
    background: url("../images/talent-right.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.right-color{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.9;
    background-color: #363738;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sef-logo{
    padding-top: 70px ;
    margin-left: 90px;
    align-self: flex-start;
}

.left-section{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px; 
}

.right-section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px; 
}

#left-title {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 900;
    color: white;
    background-color: #363738;
    padding-left: 10px;
    padding-right: 10px;
}

#left-domain {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 900;
    color: #363738;
    font-size: 36px;
    line-height: 1;
}

#left-description {
    font-family: 'Noto Sans Mono', sans-serif;
    color: #363738;
    text-align: end;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
}

#left-get-trained{
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 900;
    color: white;
    background-color: #363738;
    padding: 15px 20px;
}

#right-title {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 900;
    color: #363738;
    background-color: #fcfcfd ;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 60px;
}

#right-domain {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 900;
    color: #fcfcfd;
    font-size: 36px;
    line-height: 1;
}

#right-description {
    font-family: 'Noto Sans Mono', sans-serif;
    color: #fcfcfd;
    text-align: start;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
}

#right-get-trained{
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: 900;
    color: #363738;
    background-color: #fcfcfd;
    padding: 15px 20px;
}

